* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #0f0f0f;
  color: #ffffff;
  text-align: center;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

nav a {
  color: #aaa;
  margin-left: 15px;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

.profile {
  padding: 60px 20px;
  max-width: 800px;
  margin: auto;
}

/* NAMA */
.profile h2 {
  margin-top: 15px;
  font-size: 24px;
}

/* DESKRIPSI */
.profile p {
  margin-top: 15px;
  color: #ccc;
  line-height: 1.8;
  font-size: 15px;

  /* INI KUNCI BIAR RAPI */
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

/* FOTO */
.img-wrapper {
  width: 140px;
  height: 140px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXT */
.profile h2 {
  margin-top: 15px;
}

.profile p {
  margin-top: 10px;
  color: #ccc;
}

/* PROJECT SECTION */
#projects {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

/* GRID PROJECT */
.projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* CARD */
.card {
  padding: 20px;
  border: 1px solid #333;
  border-radius: 10px;
  background: #1a1a1a;

  /* INI YANG BIKIN GA KEGEDEAN */
  max-width: 600px;
  margin: auto;

  transition: 0.3s;
}

/* HOVER BIAR KEREN */
.card:hover {
  transform: translateY(-5px);
  border-color: #fff;
}

/* CONTACT */
#contact {
  padding: 40px 20px;
}

/* FOOTER */
footer {
  padding: 20px;
  color: #777;
}
