* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #0f0f0f;
  color: #ffffff;
  text-align: center;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

nav a {
  color: #aaa;
  margin-left: 15px;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

/* PROFILE */
.profile {
  padding: 60px 20px;
}

/* FOTO */
.img-wrapper {
  width: 140px;
  height: 140px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXT */
.profile h2 {
  margin-top: 15px;
}

.profile p {
  margin-top: 10px;
  color: #ccc;
}

/* PROJECT */
#projects {
  padding: 40px 20px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.card {
  padding: 30px;
  border: 1px solid #333;
}

/* CONTACT */
#contact {
  padding: 40px 20px;
}

/* FOOTER */
footer {
  padding: 20px;
  color: #777;
}
